<% categories.forEach(( category, index ) => { %>  
    <div class="data-item">
            <div class="col-12 income-header">
                <div class="row">
                    <div class="col-6 center-self">
                        <span class="editableCategory category-title" data-categoryid="<%= category.id %>"><%= category.title %></span>
                        <button type="button" class="btn no-focus clicker" data-toggle="collapse" data-target="#category-<%= category.id %>"><i class="fas fa-caret-up"></i></button>

                    </div>
                    <div class="col-6">
                        <div class="row text-right income-header-pr-text">
                            <div class="col-6">Planned</div>
                            <div class="col-6">Remaining</div>
                            <!-- Drop down -->

                        </div>
                    </div>
                </div>
            </div>

        <div class="category-items-list-<%= category.id %>">
            <% category.items.forEach(( item, index ) => { %>  
                <div class="collapse show item-data" id="category-<%= category.id %>" data-itemId="<%= item.id %>">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-6 editableItem">
                                <span class="item-label"><%= item.label %></span>      
                            </div>
                            <div class="col-6">
                                <div class="row text-right income-header-pr-text">
                                    <div class="col-6 editableItem category-planned">$<%= item.planned %></div>
                                    <div class="col-6">$<%= item.spend %></div>
                                </div>
                            </div>
                        </div>          
                    </div>
                </div>
            <% }) %>
        </div>       

            <div class="collapse show" id="category-<%= category.id %>">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-6">
                            <input type="hidden" class="category_id" value="<%= category.id %>"> 
                            <button role="button" data-toggle="" class="btn no-focus btn-add-items add-category-item-button" href="#"><i class="fas fa-plus"></i> Add Item</button>  
                        </div>
                        <div class="col-6">
                            <div class="row text-right income-header-pr-text">
                                <div class="col-6"></div>
                                <div class="col-6"></div>
                            </div>
                        </div>
                    </div>        
                </div>
            </div>
    </div>                                                   
<% }) %>    