<%- include('../layouts/header.ejs', {title: 'Badyet - Track & Plan your Budget!'}) %>
<div class="container-fluid">
    <div class="row main-app-container">
        <div class="col-2 left-panel-container sticky-top">
            <%- include('./leftpanel.ejs', {badyet: true}) %>
        </div>   

        <div class="col-6 main-panel-container">
                
                <div class="row main-date sticky-top"> 
                    <div class="col">
                      <%- include('_date.ejs', { income: income }) %>
                    </div>              
                </div>

                <div class="row main-data">
                    <div class="col category-list">
       
                        <%- include('_incomes.ejs', { income: income }) %>

                        <% if( categories ) { %>                                     
                            <%- include('_categories.ejs', { categories: categories }) %>                            
                        <% } %>
                        
                        <div class="data-item add-group-category">
                            <input type="hidden" class="csrf_token" name="_csrf" value="<%#= csrfToken %>">    
                            <button role="button" data-toggle="" class="btn no-focus add-category-button" href="#"><i class="fas fa-plus"></i>ADD GROUP</button> 
                        </div> 
                         
                    </div>
                </div> 
        </div>

        <div class="col-4 right-panel-container sticky-top">

            <%- include('./rightpanel.ejs', {income: income, summary: summary }) %>

        </div>
    </div>
</div>

<script src="/dist/jquery.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script> 
<%- include('../layouts/footer.ejs') %>